/* BASE STYLE */

* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

.container {
	max-width: 1000px;
	margin: 0 auto;
	padding: 0 15px;
}



/* HEADER */

.header {
	background-color: #252527;
}

/* menu */


.first-screen__text {
	font-size: 16px;
	color: white;
}

.first-screen__title {
	font-size: 45px;
	color: white;
}

.first-screen__text-animation {
	font-size: 20px;
	color: dodgerblue;
}

.menu {
	padding: 20px 10px;
	display: flex;
	gap: 20px;
}

li {
	list-style: none;
}

.menu__link {
	color: #fff;
	text-decoration: none;
	font-size: 18px;
	transition: 500ms;
}

.menu__link:hover {
	transition: 300ms;
	color: hotpink;
}

span {
	color: red;
}


/* FIRST SCREEN */

.main {}

.first-screen {
	background-color: #252527;
}

.first-screen__blocks {

	height: 500px;

	display: flex;
	justify-content: space-between;
	align-items: center;

}

.first-screen__block {}

.first-screen__image {
	max-width: 400px;
	;
}

.first-screen__image img {
	max-width: 100%;
	border: thick solid dodgerblue;
}


/* ___ *** ___ */


.top_menu {
	background-color: #252527;
	padding: 20px 30px;

	display: flex;
}

.top_h {
	color: lightslategray;
	background-color: #252527;
	text-align: center;

}

.top {
	color: gray;
	text-decoration: none;
	font-size: 25px;
	padding: 20px 30px;
}



.title777 {
	color: darkgreen;
}


.title0 {
	color: aqua;
	text-align: center;
	font-size: 60px;
}

.title1 {
	color: blue;
	font-size: 30px;
	text-align: right;
}

.title2 {
	color: coral;
	text-align: center;
}

.title3 {
	color: crimson;
	font-size: 30px;
}

.title4 {
	color: blueviolet;
	font-size: 20px;
}

.image1 {
	width: 350px;
	border-radius: 20px;
}

.fishy1 {
	color: rgb(10, 10, 170);
	font-size: 40px;
}

.image2 {
	width: 300px;
}

.link1 {
	color: chartreuse;
	font-size: 25px;
}

.link2 {
	font-size: 27px;
	color: rgb(42, 233, 42)
}


/* TITLE */

.title{
	font-size: 36px;
	color: #fff;
	text-align: center;

	margin-bottom: 20px;

}


/* LINE-DECOR */

.line-decor{
	width: 75px;
	height: 2px;
	background-color: #4f93e5;
	margin: 0 auto;
	

}


/* SKILLS */
.skills {
	background-color: #1f1f20;

	padding: 50px 0px 50px 0px;


/* padding-top: 40px;
	padding-bottom: 60px;
	padding-right: 32px;
	padding-left: 200px; */
}


/* RESUME */
.resume {
	background-color: #252527;
	padding: 50px 0;
}

/* WORK */
.work {
	background-color: #1f1f20;
	padding: 50px 0;
}

/* CONTACTS */
.contacts {
	background-color: #252527;
	padding: 50px 0;
}

/* FOOTER */
.footer {
	background-color: #1f1f20;
	padding: 50px 0;
}